.text-center {
  text-align: center;
}

.text-muted {
  color: #777;
}

small.text-muted {
  font-size: 12px;
  text-decoration: none;
  padding-top: 6px;
}

.full-width {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  /*min-height: 100vh;*/
  height: 100vh;
  margin: 0;
}

a {
  color: #444 !important;
}

a.disabled {
  text-decoration: none;
}

.window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.window {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.window.navigation {
  flex-direction: column;
}

.navigation-tile,
.room-tile {
  width: 300px;
  height: 150px;
  margin: 24px auto;
  border: 2px solid #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.room-tile-wrapper {
  width: 240px;
  margin-top: 40px;
}

.room-tile {
  width: 160px;
  height: 100px;
}

.tile-wrapper {
  width: 100%;
  max-width: 896px;
  padding: 16px 32px;
  border: 0 solid #444;
  border-top-width: 2px;
}

@media only screen and (min-width: 769px) {
  .tile-wrapper {
    margin: 24px 48px;
    border-width: 2px;
  }
}

.tile__title a {
  color: #333 !important;
}

.soba {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

html.tabla-view,
html.tabla-view > body {
  overflow-y: hidden;
  height: 100%;
}

html.tabla-view > body {
  display: flex;
  align-items: center;
}

.tabla {
  height: 100vh;
  max-width: 1920px;
}

.tabla .img-wrapper {
  position: relative;
  display: inline-block;
}

.tabla .img-wrapper img {
  height: 100vh;
  max-height: 100vh;
  width: auto;
}

.tabla video {
  position: absolute;
  left: 37%;
  top: 35.4%;
  width: 17.7%;
  height: 40.1%;
}

@media only screen and (min-width: 1500px) {
  html.tabla-view > body {
    justify-content: center;
  }
}

@media only screen and (min-height: 500px) {
  .tabla {
    height: auto;
    min-height: 500px;
  }

  .tabla .img-wrapper img {
    min-height: 500px;
    height: 100%;
  }
}
