.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-muted {
  color: #777;
}

small.text-muted {
  font-size: 12px;
  text-decoration: none;
  padding-top: 6px;
}

.full-width {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.img-thumbnail {
  height: 100px;
  border: 2px solid #999;
}

* {
  box-sizing: border-box;
}

html,
body {
  /*min-height: 100vh;*/
  height: 100vh;
  margin: 0;
}

a {
  color: #444 !important;
}

a.disabled {
  text-decoration: none;
}

.window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.window {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.window.navigation {
  flex-direction: column;
}

.room-tile {
  width: 300px;
  height: 150px;
  margin: 24px auto;
  border: 2px solid #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navigation__nav {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  .navigation__nav {
    justify-content: space-between;
  }
}

.navigation__nav__item {
  max-width: 400px;
  width: 100%;
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigation__nav__item a {
  text-decoration: none;
}

.navigation__description {
  max-width: 900px;
  margin: auto;
  padding: 20px 5px;
}

.navigation__description__transitions-img {
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: auto;
}

.room-tile-wrapper {
  width: 240px;
  margin-top: 40px;
}

.room-tile {
  width: 160px;
  height: 100px;
}

.tile-wrapper {
  width: 100%;
  max-width: 896px;
  padding: 16px 32px;
  border: 0 solid #444;
  border-top-width: 2px;
}

@media only screen and (min-width: 769px) {
  .tile-wrapper {
    margin: 24px 48px;
    border-width: 2px;
  }
}

.tile__title a {
  color: #333 !important;
}

.soba {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

html.board-view,
html.board-view > body {
  overflow-y: hidden;
  height: 100%;
}

html.board-view > body {
  display: flex;
  align-items: center;
}

.board {
  height: 100vh;
  max-width: 1920px;
}

.flex {
  display: flex;
}

@media only screen and (min-width: 1000px) {
  .board.center {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.board .img-wrapper {
  position: relative;
  display: inline-block;
}

.board .img-wrapper img {
  height: 100vh;
  max-height: 100vh;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid #999;
}

.board video {
  position: absolute;
  left: 37%;
  top: 35.4%;
  width: 17.7%;
  height: 40.1%;
}

@media only screen and (min-width: 1500px) {
  html.board-view > body {
    justify-content: center;
  }
}

@media only screen and (min-height: 500px) {
  .board {
    height: auto;
    min-height: 500px;
  }

  .board .img-wrapper img {
    min-height: 500px;
    height: 100%;
  }
}
